
.tip{
    text-align: center; 
    font-size: 40px;
    margin: 1rem;
}
.tip-image {
  width: 400px;       
  height: 400px;      
  object-fit: cover;
  display: block;
}
.article-tip1{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 600px;
    
}
.article-tip1 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    
}
.tipbox1-text {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    
}
.articles-garo {
  display: grid;       
  gap: 50px;            
  justify-content: center; 
  flex-wrap: wrap;       
  padding: 10px;
}

@media screen and (min-width: 1024px){
.tip-image {
  width: 400px;       
  height: 400px;      
  border-radius: 50%; 
  object-fit: cover;
  display: block;
}
.article-tip1 img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    
}
.articles-garo {
  display: flex;       
  gap: 250px;            
  justify-content: center; 
  flex-wrap: wrap;       
  padding: 20px;
}
.article-tip1{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 240px;
}
.tipbox1-text {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    
}
}