/* Article Tip Responsive CSS */

.tip {
  text-align: center;
  font-size: 40px;
  margin: 1rem;
}

.article-tip1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tip-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.tipbox1-text {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.articles-garo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  width: 100%;
}

/* PC 화면 */
@media screen and (min-width: 1024px) {
  .articles-garo {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; /* ← 중앙 정렬 */
    gap: 50px;
    padding: 20px 5%;
  }
  .article-tip1 {
    width: auto;
  }

  .tip-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }

  .tipbox1-text {
    font-size: 15px;
  }
}